#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.dashboard{
  background-color: #D8D8F7;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}