:root {
  --speed: 500ms;
}

body {
  background-image: url("../src/img/background.jpeg");
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menus {
  list-style: none;
  width: 170px;
  border-radius: 4px;
}

.menu-items {
  position: relative;
  margin: 0px 0px;
  width: 100%;
  background: white;
  border-radius: 7px;
  opacity: 0.9;
  padding: 1px 0;
}

.menu-items a {
  display: block;
  text-decoration: none;
  color: #000;
  text-align: left;
  width: 170px;
  position: relative;
  padding: 1px 2px;
  border-radius: 7px;
}

.menu-items a .checked {
  float: left;
  display: inline;
  padding: 1px 2px;
}

.menu-items a .submenu {
  text-align: right;
  display: inline;
}

.menu-items a .topic {
  width: 170px;
  padding: 15px;
  display: inline;
}

.menu-items .menu-item {
  height: 30px;
  display: inline;
}

.menu-item-container {
  padding-left: 30%;
}

.menu-items a:hover {
  color: white;
  background-color: #007AFF;
}

.dropdown {
  position: absolute;
  margin: 1px 0;
  padding: 1px 0;
  list-style: none;
  background-color: white;
  display: none;
  border-radius: 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

.dropdown.show {
  display: block;
}

.dropdown .dropdown-submenu {
  position: absolute;
  top: 0px;
  left: 100%;
  width: 175px;
  background-color: white;
}

.end-section {
  border-top: 2px solid rgba(0, 0, 0, 0.08);
}